
<!DOCTYPE html>
<html>
<head>
<title>404错误</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<link rel="stylesheet" href="../res/layui/css/layui.css">
<link rel="stylesheet" href="../res/static/css/index.css">
</head>

<body>
	<div style="position: relative;">
		<img alt="" src="../res/static/img/404.jpg" style="width: 100%;">
		<!-- header -->
		<div class="layui-anim layui-anim-scaleSpring" style="position: absolute; top: 20%; left: 40%; color: #f53636;">
			<h1>
				没有找到网页!<span><strong>404</strong> 网址有误</span>
			</h1>
		</div>
		<div class="layui-anim layui-anim-rotate" style="position: absolute; top: 10%; right: 10%; color: #08f508;">
			<ul>
				<li><a href="/index"><em style="color: #25f325;">返回主页</em></a></li>
			</ul>
		</div>
	</div>
	<!-- footer -->
	<div></div>
	</div>
</body>
</html>