<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">

    <meta name="viewport"
          content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
    <title>博客</title>
    <link rel="stylesheet" href="../res/layui/css/layui.css">
    <link rel="stylesheet" href="../res/static/css/index.css">
    <script src="../res/layui/layui.js"></script>
</head>
<body>

<!-- 侧边内容 -->
<div class="sidebar-content">
    <div class="layui-card">
        <div class="layui-card-header">
            <img src="./res/static/img/portrait.png" alt="" style="width: 50%;"><br/>
            <span>黄刚</span>
        </div>
        <div class="layui-card-body">
            <ul>
                <li class="txt"><span>[[${articleCount}]]</span><br/> <span>笔记</span></li>
                <li class="item"><span>0</span><br/> <span>项目</span></li>
            </ul>
        </div>
    </div>
    <ul class="layui-nav">
        <!-- 侧边导航: <ul class="layui-nav layui-nav-tree layui-nav-side"> -->
        <li class="layui-nav-item  layui-this"><a href="/article">笔记<br/>ARTICLE
        </a></li>
        <li class="layui-nav-item"><a href="works.html">作品<br/>WORKS
        </a></li>
        <li class="layui-nav-item last"><a href="index">首页<br/>INDEX
        </a></li>
    </ul>
</div>


<!-- 右侧内容区域 -->

<!-- 主要内容 -->
<div class="main mood">
    <a href="javascript:void(0)" id="btnSend"
       class="layui-btn layui-btn-big" style="float: right;">记录</a>
    <div style="clear: both;">
    </div>
    <br>
    <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
        <ul class="layui-tab-title">
            <li class="channel" th:each="c:${channels}" th:value="${c.key}"
                th:classappend="${channel==c.key}?'layui-this':''" th:text="${c.value}">
            </li>
        </ul>
    </div>
    <div class="layui-tab-content">
        <div id="MyContents">
        </div>
        <div id="myContent_page">
        </div>
    </div>
</div>


<!-- 搜索框 -->
<div class="seach">
    <form class="layui-form seach-box" action="">
        <div class="layui-form-item">
            <div class="layui-input-block">
                <input type="text" name="text" lay-verify="required"
                       placeholder="搜索相关" autocomplete="off" class="layui-input">
                <button class="layui-btn" lay-filter="mySearch" lay-submit>
                    <i class="layui-icon layui-icon-search"></i>
                </button>
            </div>
        </div>
    </form>
</div>
<hr class="layui-bg-orange">
<div class="layui-footer footer footer-index">
    <div class="layui-main" style="text-align: center; color: white;">
        <p>© 2019 version2.0</p>
        <p>滇ICP备18002082号-1</p>
    </div>
</div>
</body>

<![endif]-->
<script>
	layui.config({
		base: '../res/static/js/'
	}).use('layBlog_article');

	layui.use(["layer", "element", "table"], function () {
		$ = layui.$;
		var table = layui.table;
		var layer = layui.layer;

		$(".channel").click(function () {
			var value = this.value;
			location.href = '/article?channel=' + value;

		});

		$("#btnSend").click(function () {
			layer.open({
				type: 1,
				title: '专业技术记录',
				content: $('#content_form')
			});
		});

	});
</script>


<div style="padding: 20px 100px; display: none;" id="password">
    请输入密码: <input type="password">
</div>

<form class="layui-form" action="" style="display: none;" id='content_form'>
    <div class="layui-form-item" style="margin: 5%;">
        <label class="layui-form-label">标题：</label>
        <div class="layui-input-block">
            <input type="text" name="title" required lay-verify="required"
                   placeholder="请输入标题" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">所属技能：</label>
        <div class="layui-input-block">
            <input type="radio" th:each="c:${channels}" name="channel" th:value="${c.key}" th:title="${c.value}">
        </div>
    </div>
    <div class="layui-form-item layui-form-text" style="margin: 5%;">
        <label class="layui-form-label">记录内容：</label>
        <div class="layui-input-block">
            <textarea name="desc" placeholder="请输入内容" class="layui-textarea"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>

    </div>
</form>

<script>
	var channel, contentId;

	function del_btn(content_Id) {
		channel = $("li.channel.layui-this").val();
		contentId = content_Id;
		var action = layer.open({
			type: 1,
			offset: 'auto'
			//,id: 'password'//防止重复弹出
			,
			content: $('#password'),
			btn: '确认删除',
			btnAlign: 'c' //按钮居中
			,
			shade: 0.5 //不显示遮罩
			,

			anim: 6,
			resize: true,
			yes: function (index, layero) {
				sure();
				// layer.closeAll();
			}
		});
	}

	function sure() {
		var password = $("#password input").val();
		$.ajax({
			url: "/delContent",
			data: {
				'contentId': contentId,
				'channel': channel,
				'password': password
			},
			dataType: 'json',
			type: 'POST',
			success: function (json) {
				var message = json.msg;
				if (!json.data) {
					layer.msg(message, {
						icon: 1,
						offset: '200px',
						time: 2000
					}, function () {
						layer.closeAll();
					});
				} else {
					layer.msg(message, {
						icon: 1,
						offset: '200px',
						time: 2000
					}, function () {
						location.href = '/article?channel=' + channel;
					});

				}

			},
		});
	}

	layui.use(['form', 'layer','laypage'], function () {
		var form = layui.form;
		var layer = layui.layer;
		var laypage = layui.laypage;
		var $ = layui.jquery;
		//监听提交
		/*搜索内容*/
		form.on('submit(mySearch)', function (data) {
			var text = data.field.text;
			$.ajax({
				url: '/mySearch',
				type: 'post',
				dataType: 'json',
				data: {text:text},
				/*async: false,*/
				success: function (searchContent) {
					if ($.isEmptyObject(searchContent)) {
						layer.msg('没有找到相关的内容！',{icon: 5});
					} else{
						laypage.render({
							elem: 'myContent_page'
							, count: searchContent.length //数据总数
							, limit: 5
							, limits: [5, 10, 15, 20, 25]
							, jump: function (obj) {
								var myContents = [];
								thisSearchContent = searchContent.concat().splice(obj.curr*obj.limit - obj.limit, obj.limit);
								$(".layui-tab-title>.channel").removeClass('layui-this');
								$("#MyContents").empty();
								layui.each(thisSearchContent, function (index, item) {
									myContents.push('<div class=\"item\"> ' +
										'<div class=\"item-content\">\n' +
										'            <h3>\n' +
										'              <em class=\"Subtitle\">' + item.title + '</em>\n' +
										'            </h3>\n' +
										'          <br/>\n' +
										'            <p id=\"myContent.id\" style=\"display: none;\">' + item.id + '</p>\n' +
										'            <pre>' + item.content + '</pre>\n' +
										'      </div>\n' +
										'      <div class=\"date-box\">\n' +
										'          <div class=\"date\" style=\"color: white;\">\n' +
										'              <span>' + item.time + '</span>\n' +
										'               <span  class=\"layui-btn-group\">\n' +
										'\t\t\t\t\t\t<button type=\"button\" onclick="del_btn(&quot;' + item.id + '&quot;)"\n' +
										'                                class=\"layui-btn layui-btn-xs layui-btn-danger\">删除</button>\n' +
										'</span>\n' +
										'           </div>\n' +
										'\n' +
										'        </div>' +
										'</div>');
								});
								myContents.join('');
								$("#MyContents").append(myContents);
							}
						});
				}
					return false;
				},
				error: function () {
					layer.msg("服务器异常！",{icon: 2});
					return false;
				}
			});
			return false;
		});

		form.on('submit(formDemo)', function (data) {

			var channel = data.field.channel;
			$.ajax({
				url: "/contentSend",
				type: "POST",
				data: {
					"str": data.field.desc,
					"title": data.field.title,
					"channel": channel
				},
				dataType: "json",
				success: function (json) {
					layer.msg(json.msg, {
						icon: 1,
						offset: 'auto',
						time: 2000
					}, function () {
						location.href = '/article?channel=' + channel;
						return false;
						// 获得frame索引
						//parent.location.reload();
						/* var index = parent.layer.getFrameIndex(window.name);
						parent.layer.close(index); */
					});
				},
				error: function () {
					layer.msg("服务器出错！");
				}
			});
			return false;
		});
	});
</script>

</html>
